@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.animate-border-blink {
  animation: border-blink 3s infinite;
}

@keyframes border-blink {
  0% {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  }
}

.animate-pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}